name: CI - Comission API

on:
  push:
    branches: [ "main" ]

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Construção e push da imagem Docker
        uses: docker/build-push-action@v6
        with:
          context: ./src
          file: ./Dockerfile
          push: true
          tags: |
            gabrielfernandes/calculo-commission:v1
            gabrielfernandes/calculo-commission:latest


